# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
.env/
.venv/

# Database and logs
*.db
*.log
.cache/

# Output files
output.txt
output/
data/npcs/

# OS files
.DS_Store
Thumbs.db

# Test & coverage reports
htmlcov/
.tox/
.coverage
.cache
pytest_cache/

# Editor/IDE
.vscode/
.idea/
*.swp